{% extends 'base.html' %}

{% block title %}
Sport Calendar
{% endblock %}

{% block content %}
<h3>Календарь</h3>
{% regroup events by date_start|date:"Y-m" as grouped_events %}
{% for month, month_events in grouped_events %}
    <h3>{{ month|date:"F Y" }}</h3>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Событие</th>
                    <th>Клуб</th>
                    <th>Дисциплины</th>
                    <th>Дата</th>
                    <th>Ссылка</th>
                </tr>
            </thead>
            <tbody>
                {% for event in month_events %}
                    <tr>
                        <td>{{ event.name }}</td>
                        <td>{{ event.club.name }}</td>
                        <td>{{ event.disciplines.all|join:", " }}</td>
                        <td>
                            {{ event.date_start|date:"d M Y" }}
                            {% if event.date_end %}
                                - {{ event.date_end|date:"d M Y" }}
                            {% endif %}
                        </td>
                        <td><a href="{{ event.link }}" class="btn btn-primary btn-sm">Больше информации</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
{% endblock %}