{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlyFishingSport</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
    <div class="container">
        <div class="logo">
            {% if logo_url %}
                <img src="{{ logo_url }}" alt="Logo" class="logo">
            {% else %}
                <img src="{% static 'default_logo.svg' %}" alt="Logo" class="logo">
            {% endif %}
        </div>
        <div>
            <a href="https://vk.com/public210140386" class="contact-link">Контакты</a>
        </div>
    </div>

</header>
{% block content %}
{% endblock %}
<footer>
    <p>&copy; 2024 FlyFishingSport.ru</p>
</footer>

</body>

</html>