{% extends 'base.html' %}

{% block title %}
Sport Calendar
{% endblock %}

{% block content %}
<h2>Предстоящие события</h2>
    <ul>
        {% for event in upcoming_events %}
            <li>
                <strong>{{ event.name }}</strong><br>
                Дата: {{ event.date_start }}<br>
                Место: {{ event.location }}
            </li>
        {% empty %}
            <li>Нет предстоящих событий</li>
        {% endfor %}
    </ul>

    <a class="fta-menu-buttom" href="{% url 'event_calendar' %}"> Весь календарь </a>

{% endblock %}